main {
    margin-left: 5rem;
    min-height: 100vh;
    color: #ffffff;
    animation: pulse 3s;
    background-color: var(  --bg-primary);
}
/*.bg {*/
/*    animation:slide 3s ease-in-out infinite alternate;*/
/*    background-image: linear-gradient(-60deg,  #b3b3b3 50%, #232323 50%);*/
/*    bottom:0;*/
/*    left:-50%;*/
/*    opacity:.5;*/
/*    position:fixed;*/
/*    right:-50%;*/
/*    top:0;*/
/*    z-index:-1;*/
/*}*/

/*.bg2 {*/
/*    animation-direction:alternate-reverse;*/
/*    animation-duration:4s;*/
/*}*/

/*.bg3 {*/
/*    animation-duration:5s;*/
/*}*/

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);

    }
}
/*NAV*/
.navBar {
    z-index: 300;
    animation: pulse 2s;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;

}
@keyframes pulse {
    0% {
        background-color: #ffffff;
    }
    100% {

    }
}
.navBar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.nav-item a{
    text-decoration: none;
}
.activeRoute .nav-link{

    background: var(--bg-secondary);
    color: var(--text-secondary);
    cursor: not-allowed;
}
.nav-item i{
    font-size: 2.2rem;

}
.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    color: var(--text-primary);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link i{
    min-width: 2rem;
    margin: 0 1.5rem;
    width: 2rem;
}
.navBar:hover{
    width: 16rem;
}
.navBar:hover .link-text {
    display: block;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

@media only screen and (max-width: 600px) {
    .navBar {
        bottom: 0;
        width: 100%;
        height: 5rem!important;
    }

    .navBar-nav {
        flex-direction: row;
        height: auto;
        width: 100vw;
    }

    .nav-link {
        justify-content: center;

    }
    .nav-item i{
        font-size: 1.5rem;
    }
    .nav-item:last-child {
        margin: 0;
    }
    main {
        margin: 0;
    }
    .navBar:hover .link-text,
    .navBar:active .link-text
    {
        display: none;
    }
    .navBar:hover,
    .navBar:active{
        width: 100vw;
    }


}
@media only screen and (min-width: 600px) {
    .navBar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navBar:hover {
        width: 16rem;
    }

    .navBar:hover .link-text {
        display: inline;
    }

    .navBar:hover .logo svg
    {
        margin-left: 11rem;
    }

    .navBar:hover .logo-text
    {
        left: 0px;
    }
}

