/*.wrapper{*/
/*    padding: 20px;*/
/*    width: 100%;*/

/*}*/
/*.card{*/
/*    border: 1px var(--bg-secondary) solid;*/
/*    box-shadow: 0 8px 6px -6px #ffffff;*/
/*    background-color: var(--bg-primary);*/
/*}*/
/*.card-img{*/
/*    width: 100%;*/
/*    height: 220px;*/
/*    margin: 0;*/
/*    border-radius: 0;*/
/*    opacity: 0.3;*/
/*}*/
/*.card .card-img:hover*/
/*{*/
/*    opacity: 1;*/
/*}*/
/*.card-text*/
/*{*/
/*    font-family: 'Overpass', sans-serif;*/
/*    color: #b6b6b6;*/
/*    padding: 15px;*/
/*}*/
.card{
    margin: 20px;
}
.flip-card-container {
    width: 300px;
    height: 240px;
    perspective: 1000px;
    opacity: 0.8;
}
.flip-card-container:hover {

    opacity: 1;
}
.flip-card {

    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flip-card-container:hover .flip-card {
    transform: rotateY(180deg); /* <=>  rotateY(.5turn) */

}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 0.5rem; */
}
.flip-card-front {
    background-color: #333;
    color: #fff;
}
.flip-card-back {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    color: white;
    transform: rotateY(180deg);
    border: 4px solid rgba(139, 139, 139, .3);
}
.flip-card-back h1 {
    font-size: 1.2rem;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    /* border-radius: 0.5rem; */
}
.flip-card-back p {
    text-align: center;
    margin: 1rem;
    font-size: 0.8rem;
    line-height: 1.5rem;

}
.flip-card-back p span {
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 1.25rem;
}
.flip-card-back .btn-code {
    margin-top: 10px;
    border: none;
    color: var(--bg-primary);
    background-color: #fff;
    border-radius: 40px;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 20px;
}
.flip-card-back .btn-code:hover {

}


