.container{
    min-height: 90vh;
    width: 100%;


}
.menu{

    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    display: flex;

}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
    display: inline;
    padding: 5px;
}
ul.ks-cboxtags li a{
    display: inline-block;
    background-color: var(--bg-secondary);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #fff;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
}

ul.ks-cboxtags li a {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li :hover  {
    border: 2px solid #1bdbf8;
    background-color: var(--bg-primary);
    color: #fff;
    transition: all .2s;
}
.container .main{
    display: flex;
    padding-bottom: 100px;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;

    justify-content: center;
}
