
/*NAV*/
.navBar {
    z-index: 300;
    position: fixed;
    transition: width 600ms ease;
    text-decoration: none;
}

.navBar-nav a{
    text-decoration: none;

}

.navBar-nav i{

    color: white!important;
}
.navBar-nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

a.nav-link:hover{
    z-index:300;
    background-color: var(--text-primary);
}
.nav-item a{
    border: none;
    width: 100%;

}
ul.navBar-nav{
    list-style: none;
}
.nav-link {

    color: white;
    display: flex;
    align-items: center;
    height: 5rem;
    filter: grayscale(100%) opacity(0.7);

}
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
}

.activeRoute .nav-link{

    background: var(--bg-secondary);
    color: var(--text-secondary);
    cursor: not-allowed;

}
.nav-item i{
    font-size: 2.2rem;
}
.nav-item {
    width: 100%;
    text-decoration: none;
}
.nav-item:last-child {
    margin-top: auto;
}

.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link i{
    min-width: 2rem;
    margin: 0 1.5rem;
    width: 2rem;
}
.navBar:hover{
    width: 16rem;
}
.navBar:hover .link-text {
    display: block;
}
.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

@media only screen and (max-width: 600px) {
    .navBar {
        bottom: 0;
        width: 100%;
        height: 5rem!important;


    }
    .navBar-nav {
        flex-direction: row;
        height: auto;
        width: 100vw;

    }
    .nav-link {
        justify-content: center;
    }
    .nav-link i{
        margin: 0 0;
    }
    .nav-item i{
        font-size: 1.5rem;
    }
    .nav-item:last-child {
        margin: 0;
    }
    main {
        margin: 0;
    }
    .navBar:hover .link-text,
    .navBar:active .link-text
    {
        display: none;
    }
    .navBar:hover,
    .navBar:active{
        width: 100vw;
    }
}
@media only screen and (min-width: 600px) {
    .navBar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navBar:hover {
        width: 16rem;
    }
    .navBar:hover .link-text {
        display: inline;
    }
    .navBar:hover .logo svg
    {
        margin-left: 11rem;
    }
    .navBar:hover .logo-text
    {
        left: 0px;
    }
}

